.productlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #f1eaea;
  padding: 10px;
  background-color: #0f100f;
}

.card.sold-out {
  background-color: #efe7e7;
  opacity: 0.6;

}

.stocks {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buy-btn {
  background-color: #0bef40;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.buy-btn:hover{
    background-color:#2Cea58 ;
}

.buy-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  border-radius: 10px;
}